[tool.poetry]
name = "brickschema"
version = "0.0.11"
description = "A library for working with the Brick ontology for buildings (brickschema.org)"
readme = "README.md"
authors = ["Gabe Fierro <gtfierro@cs.berkeley.edu>"]
include = ["brickschema/ontologies", "tests/data"]
homepage = "https://brickschema.org"
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.6"
rdflib = "^4.2"
owlrl = "^5.2"
sqlalchemy = "^1.3"
docker = "^4.1"
pytest = "^5.3"

[tool.poetry.dev-dependencies]
pdoc3 = "^0.7.4"
sphinx = "^2.3"
recommonmark = "^0.6.0"
m2r = "^0.2.1"
sphinx-markdown-parser = "^0.2.2"
readthedocs-sphinx-ext = "^1.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
