[tool.poetry]
name = "brickschema"
version = "0.4.1a14"
description = "A library for working with the Brick ontology for buildings (brickschema.org)"
readme = "README.md"
authors = ["Gabe Fierro <gtfierro@cs.berkeley.edu>"]
include = ["brickschema/ontologies", "tests/data", "brickschema/web"]
homepage = "https://brickschema.org"
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.6"
rdflib = "^5.0.0"
owlrl = "^5.2"
sqlalchemy = "^1.3"
pytest = "^6.2"
docker = { version = "^4.1", optional = true }
reasonable = { version = "^0.1.46", optional = true }
pyshacl = "^0.14.2"
requests = "^2.25.0"
Flask = "^1.1.2"
typer = {extras = ["all"], version = "^0.3.2"}
xlrd = "^1.2.0"
tabulate = "^0.8.7"
importlib-resources = "^3.3.0"
click-spinner = "^0.1.10"
PyYAML = "^5.3.1"
Jinja2 = "^2.11.2"

[tool.poetry.scripts]
brick_validate = "brickschema.bin.brick_validate:main"
brickify = "brickschema.brickify.main:app"

[tool.poetry.extras]
reasonable = ["reasonable"]
allegro = ["docker"]

[tool.poetry.dev-dependencies]
readthedocs-sphinx-ext = "^1.0"
sphinx = "=1.8.5"
pre-commit = "^2.1"
flake8 = "^3.7"
tqdm = "^4.56.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
